<!DOCTYPE HTML>
<html>
	<head>
		<title>Gul Seda Unal | Video Violence Detection Engine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        {% include 'tmpHeaderCSS.html' %}
	</head>
	<body id="top">
		<!-- Header -->
			<header id="header" class="alt">
            {% include 'tmpHeaderLinks.html' %}
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
                <span><img src="{{ url_for('static', filename='images/seda_linked_in_profile.png') }}" alt="" /></span>
					<h3>"The threat of violence can be almost as stressful as actually suffering or witnessing violence."</h3>
                    <h3>L. EUGENE ARNOLD</h3>
					<ul class="actions">
						<li><a href="#one" class="button wide scrolly">About Me</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="split style1 centered reversed">
						<section>
							<span class="image fit portrait"><img src="{{ url_for('static', filename='images/seda_profile.jpg') }}" alt="" /></span>
						</section>
						<section>
							<h5>I am a data scientist with a strong background in mathematics, computational modeling, analytics, graph theory and machine learning. In my academic research and as a data scientist, I enjoy the technical challenge in extracting the story data tells as well as the challenge of conveying the results to general audience.</h5>
							<div class="features">
								<article class="icon fa-diamond">
									<h3>Data Science Fellow | Insight Data Science</h3>
									<p>May 2017 - Present</p>
								</article>
								<article class="icon fa-file-o">
									<h3>Graduate Research Fellow | U of R</h3>
									<p>November 2016 - May 2017</p>
								</article>
								<article class="icon fa-clone">
									<h3>Postdoctoral Research Fellow | Bilkent University</h3>
									<p>November 2015 - August 2016</p>
								</article>
								<article class="icon fa-envelope-o">
									<h3>Research Assistant and Teaching Fellow | Koc University</h3>
									<p>September 2008 - September 2015</p>
								</article>
							</div>
						</section>
					</div>
				</div>
			</section>

            {% include 'tmpFooter.html' %}
            {% include 'tmpHeaderJS.html' %}


	</body>
</html>