<!-- Scripts -->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.selectorr.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

